<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd">
 <bean id="student" class="myproject.circularbean.beans.Student">
 <property name="branch" ref="branch"/>

 
 
 </bean>
 <bean id="branch" class="myproject.circularbean.beans.Branch">
<property name="student" ref="student"/> 
 
 </bean>
</beans>